
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	
	-fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: "beige";
}

.label{
	
	-fx-font-size:15;
	-fx-font-family:"Lucida Console";
	-fx-text-fill:"DarkCyan";
	-fx-alignment:center;
}

.button {
    -fx-background-color: "SeaShell"; 
    -fx-font-family:"Lucida Console";
    -fx-text-fill: DarkCyan;
    -fx-font-size: 11px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 10px;
    -fx-border-color: "DarkSlateGray";
}


#nameLabel{
	
	-fx-font-size:25;
	-fx-font-family:"Lucida Console";
	-fx-text-fill:"DarkCyan";
}

.dialogPane{
	
	-fx-font-size:50;
	-fx-font-family:"ItalicT";
	-fx-text-fill:"Blak";
	-fx-alignment:center;
}

#capacidad{
	-fx-font-size:15;
	-fx-font-family:"Lucida Sans";
	-fx-text-fill:"DarkCyan";
}

#ubicacion{
	-fx-font-size:12;
	-fx-font-family:"Lucida Sans";
	-fx-text-fill:"DarkCyan";
}

#PrecioPorHora{
	-fx-font-size:15;
	-fx-font-family:"Lucida Sans";
	-fx-text-fill:"DarkCyan";
}

#variableLabel{
	-fx-font-size:12;
	-fx-font-family:"Lucida Sans";
	-fx-text-fill:"DarkCyan";
}
#label1{
	-fx-font-size:12;
	-fx-font-family:"Lucida Sans";
	-fx-text-fill:"DarkCyan";
}

#code{
	-fx-font-size:15;
	-fx-font-family:"Lucida Sans";
	-fx-text-fill:"DarkCyan";
}

